<h2 class="text-2xl font-bold text-gray-900">
  TOP 10 Recipes
</h2>
<div class="flow-root mt-10">
  <ul role="list" class="-my-5 divide-y divide-gray-200">
    <% @top_recipes.each do |recipe|%>
      <%= render partial: 'recipes/partials/recipe', locals: {recipe: recipe} %>
    <% end %>
  </ul>
  <div class="mt-10 pt-6 flex border-t border-gray-100 items-center justify-center p-2">
    <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
  </div>
</div>
