<header class="bg-gradient-to-r from-green-300 to-purple-400 pt-32 pb-24">
  <section class="container mx-auto flex flex-col items-center space-y-8">
    <div>
      <%= image_tag(
          "fridgejam.png",
          alt: "FridgeJam",
          title: "FridgeJam",
          class: "w-96",
          srcset: { "fridgejam.png" => '2x' } ) %>
    </div>
    <div class="w-full max-w-lg">
      <%= form_tag(searches_path, method: :get) do %>
        <label for="search" class="sr-only">Recipe search</label>
        <div class="mt-1 relative flex items-center">
          <%= text_field_tag(:query, params[:query], class: 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-12 sm:text-sm border-gray-300 rounded-md py-4') %>
          <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
              <%= submit_tag 'Search', name: nil, class: "inline-flex items-center border border-transparent rounded px-3 text-sm font-sans font-medium text-white bg-green-500" %>
          </div>
        </div>
        <p class="mt-2 text-sm text-white">
          Write the ingredients at hand comma seperated e.g. orange, porc
        </p>
      <% end%>
    </div>
  </section>
</header>
